<!-- ======== sidebar-nav start =========== -->
<aside class="sidebar-nav-wrapper">
    <div class="navbar-logo">
        <a asp-page="index">
            <img src="~/images/favicon.png"  width="50" height="50" alt="logo" />
        </a>
    </div>
    <nav class="sidebar-nav">
        <ul class="page-slidebar-menu">
            <li class="nav-item nav-item-has-children">
                <a href="#0"
                   class="collapsed"
                   data-bs-toggle="collapse"
                   data-bs-target="#ddmenu_1"
                   aria-controls="ddmenu_1"
                   aria-expanded="false"
                   aria-label="Toggle navigation">
                    <span class="icon">
                        <svg width="22" height="22" viewBox="0 0 22 22">
                            <path d="M17.4167 4.58333V6.41667H13.75V4.58333H17.4167ZM8.25 4.58333V10.0833H4.58333V4.58333H8.25ZM17.4167 11.9167V17.4167H13.75V11.9167H17.4167ZM8.25 15.5833V17.4167H4.58333V15.5833H8.25ZM19.25 2.75H11.9167V8.25H19.25V2.75ZM10.0833 2.75H2.75V11.9167H10.0833V2.75ZM19.25 10.0833H11.9167V19.25H19.25V10.0833ZM10.0833 13.75H2.75V19.25H10.0833V13.75Z" />
                        </svg>
                    </span>
                    <span class="text">Trang Chủ</span>
                </a>
                <ul id="ddmenu_1" class="collapse @((ViewBag.PageName == "Index") ? "show" : "") dropdown-nav">
                    <li>
                        <a asp-page="Index" class="@((ViewBag.PageName == "Index") ? "active" : "")" > Hệ thống training </a>
                    </li>
                </ul>
            </li>
            
            <li class="nav-item nav-item-has-children">
                <a href="#0"
                   class=""
                   data-bs-toggle="collapse"
                   data-bs-target="#ddmenu_5"
                   aria-controls="ddmenu_5"
                   aria-expanded="true"
                   aria-label="Toggle navigation">
                    <span class="icon">
                        <svg width="22"
                             height="22"
                             viewBox="0 0 22 22"
                             fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.75 4.58325H16.5L15.125 6.41659L13.75 4.58325ZM4.58333 1.83325H17.4167C18.4342 1.83325 19.25 2.65825 19.25 3.66659V18.3333C19.25 19.3508 18.4342 20.1666 17.4167 20.1666H4.58333C3.575 20.1666 2.75 19.3508 2.75 18.3333V3.66659C2.75 2.65825 3.575 1.83325 4.58333 1.83325ZM4.58333 3.66659V7.33325H17.4167V3.66659H4.58333ZM4.58333 18.3333H17.4167V9.16659H4.58333V18.3333ZM6.41667 10.9999H15.5833V12.8333H6.41667V10.9999ZM6.41667 14.6666H15.5833V16.4999H6.41667V14.6666Z" />
                        </svg>
                    </span>
                    <span class="text"> Quản lý khoá học </span>
                </a>
                <ul id="ddmenu_5" class="collapsed @((ViewBag.PageName == "AddCourse") ? "show" : "") dropdown-nav">
                    <li>
                        <a asp-page="AddCourse" class="@((ViewBag.PageName == "AddCourse") ? "active" : "")"> Tạo khoá học </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</aside>
<div class="overlay"></div>
<!-- ======== sidebar-nav end =========== -->